@import "bootstrap";
@import "bootstrap-icons";
@import "./auth.css";
@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Junge&family=Poppins&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Roboto", sans-serif;
    color: #444444;
}

a {
    color: #6230a3;
    text-decoration: none;
}

a:hover {
    color: #6230a3;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# succes message
--------------------------------------------------------------*/

.bg-successo {
    --bs-bg-opacity: 1;
    background-color: #6230a3 !important;
}

.border-successo {
    --bs-border-opacity: 1;
    border-color: #6230a3 !important;
}

.text-successo {
    --bs-text-opacity: 1;
    color: #fec200 !important;
}

/*--------------------------------------------------------------
# navbar Section
--------------------------------------------------------------*/
.btn-accedi {
    border: solid 1px;
    border-radius: 10px;
    border-color: #6230a3;
    color: #6230a3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-accedi:hover {
    background-color: #6230a3;
    color: #fec200;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: #6230a3;
    color: #fec200;
}

.btn-cerca {
    border: solid 1px;
    border-radius: 10px;
    border-color: #6230a3;
    background-color: #6230a3;
    color: #fec200;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-cerca:hover {
    border: solid 1px;
    border-radius: 10px;
    border-color: #6230a3;
    color: #6230a3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 75vh;
    background: url("https://img.freepik.com/premium-photo/shopping-online-home-concept-online-shopping-is-form-electronic-commerce-that-allows-consumers-directly-buy-goods-from-seller-internet_1205-6258.jpg?w=996")
        top left;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

#hero h1 span {
    color: #6230a3;
    font-family: "Junge", serif;
}

#hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
}

#hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #6230a3;
}

#hero .btn-get-started:hover {
    background-color: #fec200;
    color: #6230a3;
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }

    #hero .btn-get-started {
        font-size: 13px;
    }
}

/*--------------------------------------------------------------
# show Section
--------------------------------------------------------------*/

.btn-show {
    border: solid 2px;
    border-radius: 10px;
    border-color: #6230a3;
    color: #6230a3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-show:hover {
    background-color: #6230a3;
    color: #fec200;
}

/*--------------------------------------------------------------
# CATEGORY Section
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 9px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }
}

@media only screen and (min-width: 992px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 9px;
        grid-row-gap: 9px;
    }
}

.category-box {
    border: solid 2px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #552586;
    height: 12rem;
    width: auto;
}

.libri-color,
.moda-e-accessori-color {
    background-image: linear-gradient(
        90deg,
        hsl(270deg 57% 34%) 0%,
        hsl(270deg 56% 34%) 11%,
        hsl(270deg 55% 35%) 23%,
        hsl(270deg 54% 36%) 34%,
        hsl(270deg 53% 37%) 45%,
        hsl(270deg 52% 38%) 57%,
        hsl(270deg 51% 38%) 68%,
        hsl(271deg 51% 39%) 79%,
        hsl(271deg 50% 40%) 90%,
        hsl(271deg 49% 41%) 100%
    );
}

.cinema-e-musica-color,
.elettrodomestici-color {
    background-image: linear-gradient(
        90deg,
        hsl(271deg 49% 41%) 0%,
        hsl(271deg 48% 42%) 11%,
        hsl(271deg 46% 43%) 23%,
        hsl(270deg 45% 44%) 34%,
        hsl(270deg 44% 45%) 45%,
        hsl(270deg 43% 46%) 57%,
        hsl(270deg 42% 47%) 68%,
        hsl(270deg 41% 48%) 79%,
        hsl(270deg 40% 50%) 90%,
        hsl(269deg 40% 51%) 100%
    );
}

.telefonia-e-accessori-color,
.attrezzature-da-lavoro-color {
    background-image: linear-gradient(
        90deg,
        hsl(269deg 40% 51%) 0%,
        hsl(270deg 40% 52%) 11%,
        hsl(270deg 41% 53%) 23%,
        hsl(270deg 41% 54%) 34%,
        hsl(270deg 42% 55%) 45%,
        hsl(270deg 43% 56%) 57%,
        hsl(270deg 43% 57%) 68%,
        hsl(270deg 44% 58%) 79%,
        hsl(271deg 45% 59%) 90%,
        hsl(271deg 46% 60%) 100%
    );
}

.elettronica-color,
.immobili-color {
    background-image: linear-gradient(
        90deg,
        hsl(271deg 46% 60%) 0%,
        hsl(271deg 46% 61%) 11%,
        hsl(271deg 46% 62%) 23%,
        hsl(272deg 46% 63%) 34%,
        hsl(272deg 47% 64%) 45%,
        hsl(273deg 47% 65%) 57%,
        hsl(273deg 47% 66%) 68%,
        hsl(274deg 48% 67%) 79%,
        hsl(274deg 48% 68%) 90%,
        hsl(274deg 48% 69%) 100%
    );
}

.tv-e-fotocamere-color {
    background-image: linear-gradient(
        90deg,
        hsl(274deg 48% 69%) 0%,
        hsl(274deg 48% 68%) 11%,
        hsl(274deg 48% 67%) 23%,
        hsl(273deg 47% 66%) 34%,
        hsl(273deg 47% 65%) 45%,
        hsl(272deg 47% 64%) 57%,
        hsl(272deg 46% 63%) 68%,
        hsl(271deg 46% 62%) 79%,
        hsl(271deg 46% 61%) 90%,
        hsl(271deg 46% 60%) 100%
    );
}

.sport-color {
    background-image: linear-gradient(
        90deg,
        hsl(271deg 46% 60%) 0%,
        hsl(271deg 45% 59%) 11%,
        hsl(270deg 44% 58%) 23%,
        hsl(270deg 43% 57%) 34%,
        hsl(270deg 43% 56%) 45%,
        hsl(270deg 42% 55%) 57%,
        hsl(270deg 41% 54%) 68%,
        hsl(270deg 41% 53%) 79%,
        hsl(270deg 40% 52%) 90%,
        hsl(269deg 40% 51%) 100%
    );
}

.biciclette-color {
    background-image: linear-gradient(
        90deg,
        hsl(269deg 40% 51%) 0%,
        hsl(270deg 40% 50%) 11%,
        hsl(270deg 41% 48%) 23%,
        hsl(270deg 42% 47%) 34%,
        hsl(270deg 43% 46%) 45%,
        hsl(270deg 44% 45%) 57%,
        hsl(270deg 45% 44%) 68%,
        hsl(271deg 46% 43%) 79%,
        hsl(271deg 48% 42%) 90%,
        hsl(271deg 49% 41%) 100%
    );
}

.moto-e-auto-color {
    background-image: linear-gradient(
        90deg,
        hsl(271deg 49% 41%) 0%,
        hsl(271deg 50% 40%) 11%,
        hsl(271deg 51% 39%) 23%,
        hsl(270deg 51% 38%) 34%,
        hsl(270deg 52% 38%) 45%,
        hsl(270deg 53% 37%) 57%,
        hsl(270deg 54% 36%) 68%,
        hsl(270deg 55% 35%) 79%,
        hsl(270deg 56% 34%) 90%,
        hsl(270deg 57% 34%) 100%
    );
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details
    .portfolio-details-slider
    .swiper-pagination
    .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #fdc134;
}

.portfolio-details
    .portfolio-details-slider
    .swiper-pagination
    .swiper-pagination-bullet-active {
    background-color: #fdc134;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(33, 59, 82, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
    background: #fff;
    padding: 0 0 30px 0;
    color: #552586;
    font-size: 14px;
    background: #fdc134;
}

#footer h3 {
    color: #6230a3;
    font-family: "Junge", serif;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
    color: #fdc134;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #552586;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fdc134;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #552586;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #552586;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #cbaee9;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    color: #555555;
    font-size: 13px;
    text-align: center;
    float: left;
}

#footer .copyright span {
    color: #552586;
    font-size: 16px;
    font-family: "Junge", serif;
}

#footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #444444;
}

#footer .credits span {
    color: #552586;
    font-size: 13px;
}

@media (max-width: 768px) {
    #footer .copyright,
    #footer .credits {
        float: none;
        text-align: center;
        padding: 2px 0;
    }
}
/*--------------------------------------------------------------
  # Template E-mail
  --------------------------------------------------------------*/

  #tem-email {

    font-family: "Poppins", sans-serif;
    color:#6230a3;
    font-weight: bold;
    text-align: center;
  }


/*--------------------------------------------------------------
  # Card revisor home
  --------------------------------------------------------------*/
