.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url("http://127.0.0.1:8000/storage/img/img_login.png");
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-github {
    border: solid 1px;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-github:hover {
    border: solid 1px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-google {
    border: solid 1px;
    border-radius: 10px;
    border-color: #4285f4;
    background-color: white;
    color: #4285f4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-google:hover {
    border: solid 1px;
    border-radius: 10px;
    border-color: #4285f4;
    background-color: #4285f4;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#flag-button {
    list-style: none !important;
}

.flags-dropdown {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(44px, 88px, 0px) !important;
    -webkit-transform: translate3d(44px, 88px, 0px) !important;
    -moz-transform: translate3d(44px, 88px, 0px) !important;
    -ms-transform: translate3d(44px, 88px, 0px) !important;
    -o-transform: translate3d(44px, 88px, 0px) !important;
}
